#header {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid #000000;
    border-radius: 15px;
}

#header div {
    border: 2px dashed #ccc;
}

#banner {
    width: 20%;
    text-align: center;
    min-width: 150px;
}

#header-buttons {
    display: flex;
    justify-content: center;
    width: 80%;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
/*  width: 480px; */
  font-family: sans-serif;
/*  margin: 100px auto; */
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}
p {
  margin-top: 0;
}
.my-form {
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button:hover {
  background: #ddd;
}

#fileElem {
  display: none;
}
