#header {
    display: flex;
    max-height: 20vh;
    min-width: 800px;
    justify-content: space-between;
    border-bottom: 5px solid #000000;
    border-radius: 15px;
}

#header div {
    border: 2px dashed #ccc;
}

#banner {
    width: 20%;
    text-align: center;
    min-width: 150px;
}

#header-buttons {
    display: flex;
    justify-content: center;
    width: 80%;
}

#text-body {
    display: flex;
    justify-content: space-between;
    max-height: 80vh;
}

#doc {
    flex: 3;
    min-height: 80vh;
    min-width: 600px;
    border-right: 5px solid #000;
    border-top-right-radius: 15px;
}

#user-function {
    flex: 1;
    min-height: 80vh;    
    min-width: 150px;
    border-left: 5px solid #000;
    border-top-left-radius: 15px;
}

#drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
/*  width: 480px; */
  font-family: sans-serif;
/*  margin: 100px auto; */
  padding: 20px;
}
#drop-area.highlight {
  border-color: purple;
}



.my-form {
  margin-bottom: 10px;
}

.button {
    align: center;

    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
  background: #ddd;
}

#fileElem {
    display: none;
}

#dictElem {
    display: none;
}
